*{padding:0;
margin: 0;
box-sizing: border-box;}

.hero-section {
    position: relative;
    height: 200px; 
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/principal.png'); 
    background-size:cover;
    background-position: center; 
}

h1{
    font-family:"tipo lego";
    font-size: 0;
    margin:0;
}


.hero-overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 187, 187, 0.7);
    transition: background-color 0.5s ease;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 10;
    color: rgb(240, 238, 238);

}


@font-face{
    font-family:'cursiva';
    src: url(../Fonts/cursiva/CrimsonText-BoldItalic.ttf);

}
@font-face{
    font-family:'tipo lego';
    src: url(../Fonts/tipolego/static/BitcountPropSingle-Bold.ttf);
}



#content-wrap{
    flex: 1; /* Esto hace que #content-wrap tome todo el espacio disponible */
}
.wrapper{
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#page-container {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

footer{
   width: 100%;
   padding: 20px;
   text-align: center;
    font-family: 'tipo cursiva';
    color: seagreen;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}