* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fondo-pantalla: url('../img/dia.jpg'); 
    --color-texto: #3a0d0d; 
    --color-cuadro: rgba(238, 179, 179, 0.95);
    --color-primario: #b3609e; 
    --opacidad-fondo: 0.7;
    
}

body.dark-mode {
    --fondo-pantalla: url('../img/noche.jpg'); 
    --color-texto: #122b27;
    --color-cuadro: rgba(30, 30, 30, 0.95);
    --color-primario: #1d4905; 
    --opacidad-fondo: 0.7;
}

body {
   
    min-height: 100vh;
    position: relative;
    color: var(--color-texto);
    transition: color 0.5s ease;
    font-family:"tipo cursiva";
    

}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    
    background-image: var(--fondo-pantalla);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    opacity: var(--opacidad-fondo); 
    transition: background-image 0.7s ease, opacity 0.7s ease;
}

h1{
    text-align: center;
    color: rgb(78, 78, 5);
    font-family: "tipo lego";
    font: size 60px;
    font-weight: bold;
    letter-spacing: 2px;
}
p{
    text-align: center;
    color: rgb(238, 240, 239);
    font: size 15rem;

}

.btn-mode {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--color-primario);
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.carta-sakura {
    width: 130px; 
    height: auto; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carta-sakura:hover {
    transform: scale(1.1); 
}

.info-cv {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    background-color:rgb(212, 172, 172); 
    border: 2px solid var(--color-primario);
    border-radius: 15px;
    margin-top: 10px;
}

.info-cv.visible {
    max-height: 1000px; 
    opacity: 1;
    padding: 20px;
}
.informacion{
    text-align: center;
}
.parrafo{
    text-align: center;
    font-size: 20px;
    background-color:var(--color-fondo);

}
textarea {
    width: 40%;            
    padding: 10px;      
    border-radius: 20px 0 0 20px;     
    border: 1px solid #0fc067; 
}
.btn-outline-success {
    color: #1d4905;
    border: 1px solid #122b27;
}
    
/* --- Carrusel --- */

.slide-texto {
    height: 300px; 
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    border-radius: 100px;
    background-color: var(); 
    backdrop-filter: blur(10px);


}


.slide-texto h6{
    color:rgb(73, 9, 44);
    font-size: 1.5rem;
    margin: bottom 10px;
    text-shadow: 1px 1px 2px rgba(105, 12, 12, 0.2);
}

.slide-texto p {
    color: white;
    font-size: 1.3rem;
    margin-top: 15px;
    text-shadow: 0.5px 0.5px 1px rgba(52, 187, 58, 0);
    font-weight: 500;
}
@font-face{
font-family: "tipo cursiva";
src: url(../Fonts/cursiva/CrimsonText-Italic.ttf);
}
@font-face{
font-family: "tipo lego";
src: url(../Fonts/tipolego/BitcountPropSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

@media (max-width: 768px) {
    
  h1 {
        font-size: 1.8rem !important;
    }

    .slide-texto {
        height: auto; 
        min-height: 350px;
        padding: 20px;
        border-radius: 30px;
        margin: 10px;
                }

   
    .slide-texto h6 {
        font-size: 1.4rem; 
    }

    .slide-texto p {
        font-size: 0.95rem; 
        max-width: 95%; 
    }

.carta-sakura {
        width: 100px;
    }

   
.info-cv {
        width: 95%; 
        padding:15px;
    }
}